:root {
    /* Color Palette */
    --background-color: #FBE292;
    --header-footer-bg: #7A6DA6;
    --primary-color: #310273;
    --secondary-color: #a65132;
    --link-color: #310273;
    --link-hover-color: #a65132;
    --border-color: #310273;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and Footer */
#main-header,
#main-footer {
    background-color: var(--header-footer-bg);
    color: var(--primary-color);
    padding: 20px 40px;
    text-align: center;
}

#main-header h1,
#main-header h2 {
    color: var(--secondary-color);
}

/* Navigation */
#main-nav {
    background-color: var(--header-footer-bg);
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#main-nav li {
    padding: 10px;
}

#main-nav a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s;
}

#main-nav a:hover {
    color: var(--link-hover-color);
}

/* Content Sections */
.mission, .quick-links, .location-iframe,
.links-box {
    background-color: var(--header-footer-bg);
    border: 3px solid var(--border-color);
    color: var(--primary-color);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.links-img {
    max-width: 100%;
    border-radius: 3px;
    margin-top: 10px;
}

/* Form Styles */
input[type="text"],
textarea,
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

button,
input[type="submit"] {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover,
input[type="submit"]:hover {
    background-color: var(--link-hover-color);
}

/* Hamburger Menu */
#nav-toggle div {
    width: 35px;
    height: 5px;
    background-color: var(--secondary-color);
    margin: 6px 0;
}

/* Typography */
.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
    padding: 2px;
    border-radius: 3px;
}

/* Layout for Larger Screens */
@media screen and (min-width: 601px) {
    #main-nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-nav li {
        margin-right: 20px;
    }

    #main-nav li:last-child {
        margin-right: 0;
    }

    #nav-toggle {
        display: none; /* Hide hamburger menu */
    }
}

/* Smaller Resolutions - Hamburger Menu Display */
@media screen and (max-width: 600px) {
    #main-nav-items.hidden {
        display: none;
    }

    #nav-toggle {
        display: block; /* Show hamburger menu */
    }
}
